@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

.svg_primary, .svg_heart, .svg_user {
  height: 1.8rem;
  width: 1.8rem;
  display: block;
  background-color: transparent;
  border-radius: 5px;
}

.svg_user {
  border-radius: 100%;
}

.svg_heart {
  border-top-right-radius: 60%;
  border-top-left-radius: 60%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.brand {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  color: #7C6A0A;
  font-size: 1.5rem;
}

.title_primary {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  color: #7C6A0A;
  font-size: 3.4rem;
  width: 86%;
}

.description_title_primary {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  color: #7C6A0A;
  font-size: 1.25rem;
  width: 86%;
  line-height: 25px;
}

.button_primary {
  cursor: pointer;
  margin-top: 4vh;
  padding: 1rem 1.5rem 1rem 2rem;
  border-radius: 2rem;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  background-color: #FA9500;
  transition: transform 0.5s;
}
.button_primary:hover {
  transform: translateY(-10px);
}

body {
  background-color: #FFEFE7;
}

::marker {
  color: red;
}

.container_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  max-height: 12vh;
  padding: 0vh 4vw;
}
.container_nav nav ul {
  display: flex;
  justify-content: space-between;
  gap: 2.8vw;
}
.container_nav nav ul li button {
  cursor: pointer;
  border: none;
  display: block;
  border-radius: 50%;
  background-color: transparent;
  padding: 0px;
}

.layout_main {
  width: 100%;
}

.layout_initial {
  width: 100%;
  height: 88vh;
}

#container_initial {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  height: 100%;
  float: left;
  padding: 12vh 0vh;
  gap: 4rem;
  text-align: start;
}
#container_initial h2, #container_initial p, #container_initial button {
  margin-left: 3.5vw;
}

#container_img_initial {
  width: 50%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container_img_initial img {
  height: 94%;
  width: 70%;
  border-radius: 20px;
  box-shadow: 4px 3px 5px rgba(56, 56, 56, 0.2);
}

/*# sourceMappingURL=styles.css.map */
