@use './modules/normalize.scss';
@use './modules/cards.scss';
@use './modules/icons.scss';
@use './modules/images.scss';
@use './modules/texts.scss';
@use './modules/utils.scss' as utils;
@use './modules/buttons.scss'; 

@mixin flexCenter_vertical {
  display: flex;
  align-items: center;
}
@mixin flexCenter_all {
  @include flexCenter_vertical;
  justify-content: center;
}

body {
  background-color: utils.$color_semiCream;
}

.container_nav { // estos estilos son del nav
  @include flexCenter_vertical;
  justify-content: space-between;
  height: 12vh;
  max-height: 12vh;
  padding: 0vh 4vw;
}
.navbar {
  ul { //separo los elementos ordenadamente
    display: flex;
    gap: 2.8vw;   
    li {
      button {
        border-radius: 50%;
        background-color: transparent;
      }
    }
  }
}

.layout_main {
  width: utils.$oneHundred_percent;
  border: 1px solid red;
}
.layout_initial {
  display: flex;
  flex-direction: row;
  width: utils.$oneHundred_percent;
  height: 87.5vh;
}

#container_initial {
  width: 50%;
  height: utils.$oneHundred_percent;
  display: flex;
  align-items: start;
  flex-direction: column;
  text-align: start;
  gap: 3rem;
  padding-top: 12vh;
  margin-left: 3.5vw;
}

#container_img_initial {
  width: 50%;
  height: utils.$oneHundred_percent;
  @include flexCenter_all;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem 0rem;
  margin-top: 4rem;
}

.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 88%;
  gap: 3rem;
}

.why_us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem 0rem;
  margin-top: 4rem;
  article {
    display: flex;
    flex-direction: row;
    width: 40%;
    border: 1px solid red;
    p {
      width: 50%;
    }
  }
}


/*<-- responsive -->*/

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  #container_initial {
    padding-top: 3rem;
  }
}
@media (max-width: 500px) {
  .container_nav {
    max-height: 10vh;
  }
  .navbar { // oculta el navbar
    ul {
      display: none;
    }
  }
  .navbar.open  { // togle navbar
    ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.75rem;
    gap: 0px;
    width: 8%;
    background-color: rgba(#000000, 0.5);
    padding: 0.6rem;
    }
  }
  .layout_initial {
    border: 1px solid red;
    height: auto;
    flex-direction: column-reverse;
  }
  #container_initial {
    width: 85.5vw;
    min-height: 0rem;
    padding-top: 1rem;
    margin-left: 7vw;
    gap: 2.5vh;
    align-items: center;
    h2 {
      width: utils.$oneHundred_percent;
    }
  }
  #container_img_initial {
    width: utils.$oneHundred_percent;
    height: 45vh;
  }
}