@use './modules/normalize.scss';
@use './modules/cards.scss';
@use './modules/icons.scss';
@use './modules/images.scss';
@use './modules/texts.scss';
@use './modules/utils.scss' as utils;
@use './modules/buttons.scss'; 

@function carrusel-width($cant-products){
  @return ($cant-products * 80) + 0%;
} 

body {
  background-color: utils.$color_semiCream;
}

.container_nav { // estos estilos son del nav
  height: 12vh;
  max-height: 12vh;
  padding: 0vh 4vw;
  background-color: utils.$color_semiCream;
}
.navbar {
  ul { //separo los elementos ordenadamente
    display: flex;
    gap: 2.8vw;   
    li {
      button {
        border-radius: 50%;
        background-color: transparent;
      }
    }
  }
}
.layout_initial {
  height: 87.5vh;
}

.container_initial {
  gap: 3rem;
  padding-top: 12vh;
  margin-left: 3.5vw;
}
.carrousel {
  gap: 3rem;
  &.carrousel_primary {
    width: 88%;
  }
  &.carrousel_secundary {
    width: 88%;
  }
}
.why_us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 12rem 0rem;
  margin-top: 8rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem 0rem;
  margin-top: 12rem;
}
.conatainer_gallery {
  gap: 4rem;
  width: 88%;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8rem 0rem;
  gap: 4rem 0rem;
}
.container_map {
  width: 100vw;
  gap: 0.3rem;
}

.footer {
  background-color: utils.$color_lightOrange;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_footer {
  width: 88%;
}
.container_nav_footer {
  ul {
    list-style: none;
    li {
      a {
        display: block;
        text-decoration: underline;
        &:link {
          color: white;
        }
        &:visited {
          color: utils.$color_primary;
        }
        &:active {
          color: utils.$color_primary;
          text-decoration: none;
        }
      }
    }
  }
}
.nav_social_networks {
  margin: 6rem 0rem 2rem 0rem;
  ul {
    display: flex;
    gap: 2rem;
    li {
      a {
        svg {
          transition: transform .5s;
          &:hover {
            transform: translateY(-0.3rem);
          }
        }
      }
    }
  }
}

/*<-- responsive -->*/

@media (max-width: 1024px) {
  .carrousel {
    gap: 3rem 0rem;
  }
  .why_us {
    gap: 6rem 0rem;
    margin-top: 6rem;
  }
  .gallery {
    gap: 3rem 0rem;
    margin-top: 8rem;
  }
  .conatainer_gallery {
    gap: 2rem;
  }
  .location {
    margin-top: 5rem;
    gap: 2rem 0rem;
  }
}
@media (max-width: 768px) {
  #container_initial {
    padding-top: 3rem;
  }
  .why_us {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .container_nav {
    max-height: 10vh;
  }
  .navbar { // oculta el navbar
    ul {
      display: none;
    }
  }
  .navbar.open  { // togle navbar
    ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.75rem;
    gap: 0px;
    width: 8%;
    background-color: rgba(#000000, 0.5);
    padding: 0.6rem;
    }
  }
  .layout_initial {
    height: auto;
    flex-direction: column-reverse;
  }
  .container_initial {
    width: 85.5vw;
    min-height: 0rem;
    padding-top: 1rem;
    margin-left: 7vw;
    gap: 2.5vh;
    align-items: center;
    h2 {
      width: 100%;
    }
  }
  .container_img_initial {
    width: 100%;
    height: 45vh;
  }
  .products_container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: center;
    align-items: start;
  }
  .carrousel {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 27rem;
    padding: 0 1rem;
    &.carrousel_primary {
      width: carrusel-width(6);
    } 
    &.carrousel_secundary {
      width: carrusel-width(9);
    } 
  }
  .gallery {
    margin-top: 6rem;
  }
  .conatainer_gallery {
    justify-content: center;
  }
  .location {
    margin-bottom: 3rem;
  }
  .container_map {
    gap: 0rem;
  }
  .why_us {
    gap: 2rem;
    article {  
      flex-direction: column;
      gap: 2rem;
    }
    h2 {
      margin-bottom: 5rem;
    }
  }
  .scroll_green {
    &::-webkit-scrollbar-thumb {
      background-color: utils.$color_secundary;
    }
  }
}
@media (max-width: 376px) {
  .carrousel {
    &.carrousel_primary {
      width: carrusel-width(6.5);
    }
    &.carrousel_secundary {
      width: carrusel-width(10);
    } 
  }
}
@media (max-width: 321px) {
  .carrousel {
    &.carrousel_primary {
      width: carrusel-width(7);
    }
    &.carrousel_secundary {
      width: carrusel-width(11);     
    } 
  }
}

@keyframes  svg_lightBulb{
  0%{
      transform:translateY(-2rem);
  }
  100% {
    transform:translateY(-0rem);
  }
}
