@use './utils.scss' as utils;

@mixin svg {
  height: 2.1rem;
  width: 2.1rem;
  background-color: transparent;
}
.svg_primary {
  @include svg;
  border-radius:0.3rem;
}
.svg_user {
  @extend .svg_primary;
  border-radius: utils.$oneHundred_percent;
}
.svg_heart {
  @extend .svg_primary;
  border-top-right-radius: utils.$sixty_precent;
  border-top-left-radius:  utils.$sixty_precent;
  border-bottom-left-radius:  utils.$oneHundred_percent;
  border-bottom-right-radius: utils.$oneHundred_percent;
}

@media (max-width:1024px){
  .svg_primary {
    height: 1.8rem;
    width: 1.8rem;
  }
}