@use './utils.scss' as utils;

.image_initial {
    object-fit: cover;
    height: 94%;
    width: 70%;
    border-radius: 0.75rem;
    box-shadow: 0.25rem 0.18rem 0.31rem rgba($color: #383838, $alpha: 0.2);
}

.map {
  width: 90%;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .image_initial {
    width: 90%;
    height: 70vh;
    }
}
@media (max-width:500px){
  .image_initial {
    width: 86%;
    height: utils.$oneHundred_percent;
  }
}