@use './utils.scss' as utils;


//clases

.brand {
  @include utils.font_regular;
  color: utils.$color_primary;
  font-size: utils.$font_small;
}
.title_primary {
  @include utils.font_semiBold;
  color: utils.$color_primary;
  font-size: utils.$font_xxLarge;
}
.description_title_primary {
  @include utils.font_regular;
  color: utils.$color_primary;
  font-size: utils.$font_xSmall;
  width: 86%;
  line-height: utils.$font_small;
}

@media (max-width: 1024px) {
  .title_primary {
    font-size: utils.$font_extra_l;
  }
  .description_title_primary {
    font-size: 1.12rem;
  }
}
@media (max-width: 768px) {
  .brand {
    font-size: utils.$font_xSmall;
  }
  .title_primary {
    font-size: utils.$font_large;
  }
  .description_title_primary {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .title_primary {
    font-size: utils.$font_medium;
  }
  .description_title_primary {
    font-size: utils.$font_xxSmall;
    line-height: 1rem;
    width: utils.$oneHundred_percent;
  }
}
